extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                img.img-fluid.rounded(src="https://i1.wp.com/siambc.com/wp-content/uploads/2017/12/blockchain-w.jpg?fit=765%2C457&ssl=1")
                | <br /><br />
                | Modern cryptocurrencies were first described in 1998 by author Wei Dai. The concept fully emerged in 2009 with the release of a white paper that explains the foundations of blockchain and bitcoin. The author of the white paper is “Satoshi Nakamoto,” which is presumably a pseudonym for either a person or group of people.
                | <br /><br />
                | Bitcoin runs on a technology called blockchain, which the Bitcoin Foundation calls a “triple entry” bookkeeping system. Every time there’s a new transaction, the sender, receiver, and a third-party must confirm and agree on the transaction. Every Bitcoin transaction is recorded in a triple-entry digital record called a “blockchain”—any Bitcoin transaction can be located on that digital record.
                | <br /><br />
                | This allows for a combination of trust and a certain level of anonymity, as you can trace every transaction to a specific Bitcoin wallet but don’t necessarily know who owns that wallet. That’s great for privacy advocates but can be a challenge for anti-terrorism and anti-money-laundering officials who would like better ways to trace digital currency transactions around the world.
                | <br /><br />
                img.img-fluid.rounded(src="https://appinventiv.com/blog/wp-content/uploads/2019/05/The-History-of-Cryptocurrency.png")
                | <br /><br />
                | Prediction Related to the Future of Cryptocurrencies
                | <br /><br />
                | According to a report by Worldwide Market Reports, the Cryptocurrency market is expected to evolve with a CAGR of 56.2% between 2017 and 2025, while it was of $189.9B in 2017.
                | <br /><br />
                | These numbers are predicted to a ripple effect of growing adoption of Cryptocurrencies usage for the transaction and other payment/wallet-related tasks in countries like France, South Korea, Finland, Germany, Spain, Japan, Sweden, Canada, Switzerland, and Mexico to name a few.
                | <br /><br />
                | When talking about the vertical-wise impact of Cryptocurrency, Retail industry is expected to experience the widest adoption, especially in the case of large business chains.
                | <br /><br />
                | As predicted by Tim Draper, a Venture Capital Investor, the Cryptocurrency market capitalization will reach $80 Trillion in the next 15 years.
                | <br /><br />
                | The author of the best-selling book, “Rich Dad, Poor Dad”, Robert Kiyosaki disclosed his belief that cryptocurrencies will replace US dollars soon.
                | <br /><br />