extends layout

block content
  .row.banner
    .col-12
      h1 Etheruem (ETH)
      p.card-text 
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          .card.card-primary
              .card-block
                img.img-fluid.rounded(src='https://forkast.news/wp-content/uploads/2021/05/ETHEREUM-ALL-TIME-HIGH-scaled.jpg')
          p Launched in 2015, Ethereum is an open-source, blockchain-based, decentralized software platform used for its own cryptocurrency, ether. It enables SmartContracts and Distributed Applications (ĐApps) to be built and run without any downtime, fraud, control, or interference from a third party.
            .card.card-primary
              .card-block
                h2.card-title Key Takeaways
                p.card-text - Ethereum is an open-source computing platform and operating system.
                p.card-text - It also has its own associated cryptocurrency, ether.
                p.card-text - One of the big projects around Ethereum is Microsoft’s partnership with ConsenSys.
            .card.card-primary
              .card-block
                h2.card-title Etheruem chart history
                img.img-fluid.rounded(src='https://changelly.com/blog/wp-content/uploads/2020/12/20210125-ethereum-charts-coinmarketcap.png')
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAq9tIt_wPFxJKuClX50q98fumvuWMysBbg&usqp=CAU')
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/location/review/new2') Add review
              h2.card-title Reader reviews
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                    large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  span.reviewAuthor Jame Cutter    
                  large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  small.reviewTimestamp 1 May 2021
                .col-12
                  p This information is very helpful for investing.
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  span.reviewAuthor Robert Ritter
                  large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  small.reviewTimestamp 26 July 2020
                .col-12
                    p How much profit can be made within 1 month?
    .col-12.col-lg-3
     